<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <mat-form-field>
    <input matInput placeholder="User name" name="name" formControlName="username" [(ngModel)]="user.username"
      [errorStateMatcher]="matcher">
    <mat-error *ngIf="loginForm.get('username').hasError('minlength')">
      Min length {{constants.minValidationLength}}
    </mat-error>
    <mat-error *ngIf="loginForm.get('username').hasError('maxlength')">
      Max length {{constants.maxValidationLength}}
    </mat-error>
    <mat-error *ngIf="loginForm.get('username').hasError('required')">
      Field is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" name="password" formControlName="password" [(ngModel)]="user.password"
      [errorStateMatcher]="matcher" type="password">
    <mat-error *ngIf="loginForm.get('password').hasError('minlength')">
      Min length {{constants.minValidationLength}}
    </mat-error>
    <mat-error *ngIf="loginForm.get('password').hasError('maxlength')">
      Max length {{constants.maxValidationLength}}
    </mat-error>
    <mat-error *ngIf="loginForm.get('password').hasError('required')">
      Field is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button mat-raised-button type="submit">Login</button>
</form>
