.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-height: 300px;
  max-width: 300px;
  margin: 15px;
}

.card {
  min-height: 300px;
  min-width: 300px;
  margin: unset!important;
}
