.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-height: 300px;
  max-width: 300px;
  margin: 15px;
}

.card {
  min-height: 500px;
  max-height: 600px;
  min-width: 320px;
  max-width: 460px;
  margin: unset!important;
}
