@import "../../../styles/variables.scss";

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-height: 300px;
  max-width: 300px;
  margin: 15px;
  @media (min-width: $breakpoint-mobile) {
    margin: 0;
  }
}

.card {
  height: 550px;
  width: 320px;
  margin: unset !important;
}
