<form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="form">
  <mat-form-field>
    <input matInput placeholder="User name" name="name" formControlName="username" [(ngModel)]="user.username"
      [errorStateMatcher]="defaultMatcher">
    <mat-error *ngIf="registerForm.get('username').hasError('minlength')">
      Min length {{constants.minValidationLength}}
    </mat-error>
    <mat-error *ngIf="registerForm.get('username').hasError('maxlength')">
      Max length {{constants.maxValidationLength}}
    </mat-error>
    <mat-error *ngIf="registerForm.get('username').hasError('required')">
      Field is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" name="password" formControlName="password" [(ngModel)]="user.password"
      [errorStateMatcher]="defaultMatcher" type="password">
    <mat-error *ngIf="registerForm.get('password').hasError('minlength')">
      Min length {{constants.minValidationLength}}
    </mat-error>
    <mat-error *ngIf="registerForm.get('password').hasError('maxlength')">
      Max length {{constants.maxValidationLength}}
    </mat-error>
    <mat-error *ngIf="registerForm.get('password').hasError('required')">
      Field is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Confirm password" name="confirmPassword" formControlName="confirmPassword"
      [errorStateMatcher]="passwordMatcher" type="password">
    <mat-error *ngIf="registerForm.get('confirmPassword').hasError('minlength')">
      Min length {{constants.minValidationLength}}
    </mat-error>
    <mat-error *ngIf="registerForm.get('confirmPassword').hasError('maxlength')">
      Max length {{constants.maxValidationLength}}
    </mat-error>
    <mat-error *ngIf="registerForm.get('confirmPassword').hasError('required')">
      Field is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="registerForm.hasError('notSame')">
      Passwords do not match
    </mat-error>
  </mat-form-field>

  <button mat-raised-button type="submit">Login</button>
</form>
