<div class="center" *ngIf="!isReady">
  <mat-spinner></mat-spinner>
</div>
<div class="container" *ngIf="isReady">
  <h2>
    {{product.title}}
  </h2>
  <h3>
    {{product.category.title}}
  </h3>

  <p>
    {{product.description}}
  </p>

  <ng-image-slider [images]="imageObject"></ng-image-slider>

  <table *ngIf="product?.specifications" mat-table [dataSource]="product.specifications" class="mat-elevation-z8">
    <ng-container matColumnDef="Specification">
      <th mat-header-cell *matHeaderCellDef> Specification </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="Value">
      <th mat-header-cell *matHeaderCellDef> Value </th>
      <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table> <button mat-raised-button (click)="addClick()">Add</button>
  <button mat-raised-button (click)="buyClick()">Buy</button>
</div>
